body {
  margin: 0;
}

a img div span {
  border: none;
}

button:focus {
  outline: 0;
}

#my-canvas {
  display: block;
}


/* Menu */

#menu-parent {
  position: absolute;
  left: 25px;
  top: 30px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

#menu-parent.hide {
  left: -50px;
}

#menu {
  opacity: .7;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 999;
  -webkit-backface-visibility: hidden;
}

#menu:hover {
  opacity: 1;
}

#menu.active.done span#top {
  -webkit-transform: rotate(140deg);
}

#menu.active.done span#bottom {
  -webkit-transform: rotate(-140deg);
}

#menu.active span#top {
  top: 7px;
  -webkit-transform: rotate(160deg);
}

#menu.active span#middle {
  top: 6px;
  opacity: 0;
}

#menu.active span#bottom {
  top: 7px;
  -webkit-transform: rotate(-160deg);
}

#menu.done span#top {
  -webkit-transform: rotate(-10deg);
}

#menu.done span#bottom {
  -webkit-transform: rotate(10deg);
}

#menu span {
  position: absolute;
  width: 100%;
  display: block;
  height: 5px;
  background-color: white;
}

#menu span#top {
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
}

#menu span#middle {
  top: 12px;
  -webkit-transition: all 0.2s ease-in-out;
}

#menu span#bottom {
  top: 24px;
  -webkit-transition: all 0.3s ease-in-out;
}


/* Mute */

#mute {
  height: 25px;
  width: 25px;
  position: fixed;
  top: 75px;
  left: -25px;
  text-align: center;
  z-index: 999;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

#mute.show {
  left: 27.5px;
}

.muted {
  background-image: url("images/mute.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
}

.unmuted {
  background-image: url("images/unmute.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
}

.muted:hover {
  background-image: url("images/muteHover.png");
  opacity: 1;
}

.unmuted:hover {
  background-image: url("images/unmuteHover.png");
  opacity: 1;
}


/* Pause */

#pause {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 125px;
  left: -22px;
  text-align: center;
  z-index: 999;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

#pause.show {
  left: 30px;
}

.paused {
  background-image: url("images/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
}

.paused:hover {
  opacity: 1;
}

.unpaused {
  background-image: url("images/pause.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
}

.unpaused:hover {
  opacity: 1;
}


/* Star */

#star {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#star.star-active {
  top: 50%;
}

#star.star-done {
  top: 15%;
}


/* Pause Modal */

#pause-modal {
  height: 60%;
  width: 45%;
  background-image: url("images/howTo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: -510px;
  left: 49.45%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 999;
}

#pause-modal.modal-active {
  top: 45%;
}


/* Game Over Modal */

#game-over-modal {
  height: 40%;
  width: 65%;
  background-image: url("images/gameOver.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 999;
}

#game-over-modal.modal-active {
  top: 50%;
}


/* Game Win Modal */

#game-win-modal {
  height: 55%;
  width: 55%;
  background-image: url("images/gameWin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: -55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 999;
}

#game-win-modal.modal-active {
  top: 50%;
}


/* Play Button */

#play-parent {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  position: fixed;
  top: 130%;
  left: 50%;
  box-shadow: 0px 0px 200px white;
  transform: translate(-50%, -50%);
  -webkit-transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#play-parent.btn-active {
  top: 85%
}

#play {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  background-color: #39B54A;
  color: white;
  box-shadow: 0px 0px 15px black;
  font-size: 20px;
  font-family: sans-serif;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  z-index: 998;
}

#play:hover {
  box-shadow: 0px 15px 15px black;
}


/* Play Again Button */

#play-again-parent {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  position: fixed;
  top: 130%;
  left: 50%;
  box-shadow: 0px 0px 200px white;
  transform: translate(-50%, -50%);
  -webkit-transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#play-again-parent.btn-active {
  top: 85%
}

#play-again {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  background-color: #39B54A;
  color: white;
  box-shadow: 0px 0px 15px black;
  font-size: 20px;
  font-family: sans-serif;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  z-index: 999;
}

#play-again:hover {
  box-shadow: 0px 15px 15px black;
}